.montserrat, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Montserrat, Arial, Calibri;
}

.slabo, p {
  font-family: 'Raleway', 'Slabo 27px', 'Sans Serif', Arial, Calibri;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  /** bold **/
  padding: .67em 0;
  margin: 0;
}

big {
  font-size: 1.3em;
}

.mt0 {
  margin-top: 0;
}

.pt0 {
  padding-top: 0;
}

ul.list-disc {
  list-style-type: disc;
  padding-left: 15px;
}

a.link-unstyled,
a.link-unstyled:link,
a.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
}

.fill-height {
  height: 100%;
}

.preload {
  display: none !important;
}

.block-16-9-wrap {
  background-color: #000000;
  position: relative;
  display: block;
  width: 100%;
}

.block-16-9-wrap:after {
  display: block;
  padding-top: 56.25%;
  content: '';
}

.block-16-9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.middle-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.middle-wrap .middle {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.cd-section {
  position: relative;
}

/** for the anchor .cd-scroll-down, leave an empty space for it **/
.cd-scroll-down-clear:after {
  content: '';
  display: block;
  height: 84px;
}

/** for bootstrap's grid system **/
.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.no-overflow {
  overflow: hidden;
}

.pre-like {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

.default-cursor {
  cursor: default;
}

.pointer-cursor {
  cursor: pointer;
}

#interactive-background-1 {
  position: fixed;
  top: -66%;
  left: -66%;
  width: 200%;
  height: 200%;
}

#interactive-background-2 {
  position: absolute;
  top: -66%;
  left: -66%;
  width: 200%;
  height: 200%;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#copyright-statement {
  position: fixed;
  font-size: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  z-index: 8888;
  padding: .2rem 0;
}

#copyright-statement:after {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  text-align: left;
  content: '';
  z-index: -1;
  -webkit-transition: left 1.2s .5s;
  -moz-transition: left 1.2s .5s;
  -o-transition: left 1.2s .5s;
  transition: left 1.2s .5s;
}

html.load-done-2s #copyright-statement:after {
  left: 0;
}

@media (min-width: 768px) {
  .sm-text-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .md-text-right {
    text-align: right;
  }
}
/** default color set **/
.color-1 {
  color: #444444;
}

.color-b-1:before {
  color: #444444;
}

.color-a-1:after {
  color: #444444;
}

.bg-color-1 {
  background-color: #444444;
}

.bg-color-b-1:before {
  background-color: #444444;
}

.bg-color-a-1:after {
  background-color: #444444;
}

.color-2 {
  color: #EEEEEE;
}

.color-b-2:before {
  color: #EEEEEE;
}

.color-a-2:after {
  color: #EEEEEE;
}

.bg-color-2 {
  background-color: #EEEEEE;
}

.bg-color-b-2:before {
  background-color: #EEEEEE;
}

.bg-color-a-2:after {
  background-color: #EEEEEE;
}

.color-3 {
  color: #222222;
}

.color-b-3:before {
  color: #222222;
}

.color-a-3:after {
  color: #222222;
}

.bg-color-3 {
  background-color: #222222;
}

.bg-color-b-3:before {
  background-color: #222222;
}

.bg-color-a-3:after {
  background-color: #222222;
}

.color-4 {
  color: #BBBBBB;
}

.color-b-4:before {
  color: #BBBBBB;
}

.color-a-4:after {
  color: #BBBBBB;
}

.bg-color-4 {
  background-color: #BBBBBB;
}

.bg-color-b-4:before {
  background-color: #BBBBBB;
}

.bg-color-a-4:after {
  background-color: #BBBBBB;
}

.color-5 {
  color: #FFFFFF;
}

.color-b-5:before {
  color: #FFFFFF;
}

.color-a-5:after {
  color: #FFFFFF;
}

.bg-color-5 {
  background-color: #FFFFFF;
}

.bg-color-b-5:before {
  background-color: #FFFFFF;
}

.bg-color-a-5:after {
  background-color: #FFFFFF;
}

#home {
  background-color: transparent;
  /** for middle text **/
  display: table;
}
#home .content-wrapper {
  /** for middle text, 2nd part **/
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
#home .content-wrapper .portfolio-title, #home .content-wrapper .portfolio-subtitle {
  display: block;
  text-align: center;
  cursor: default;
  position: relative;
}
#home .content-wrapper .portfolio-title span, #home .content-wrapper .portfolio-subtitle span {
  display: inline-block;
}
#home .content-wrapper .portfolio-title span:hover, #home .content-wrapper .portfolio-subtitle span:hover {
  -webkit-animation-name: home-title-shaking;
  -moz-animation-name: home-title-shaking;
  -o-animation-name: home-title-shaking;
  animation-name: home-title-shaking;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
}
#home .content-wrapper .portfolio-title {
  font-size: 6rem;
  font-size: 9vw;
  line-height: 1;
  font-family: Montserrat, "Sans Serif", Calibri, Arial;
}
#home .content-wrapper .portfolio-subtitle {
  font-size: 4rem;
  font-size: 6vw;
  font-family: Montserrat, "Sans Serif", Calibri, Arial;
  color: #444444;
}

@keyframes home-title-shaking {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
  25% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
  75% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
}
#about {
  position: relative;
  background-color: transparent;
}
#about h1.about-title {
  font-size: 3em;
}
#about .content-wrapper {
  height: 100%;
  width: 100%;
}
#about #programmer-svg-wrap {
  position: relative;
  background-image: url(../img/programmer.svg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#about #programmer-svg-wrap:before {
  position: relative;
  display: block;
  content: '';
  padding-top: 109.28828%;
}
#about #programmer-svg-wrap:hover {
  background-image: url(../img/programmer_stop.svg);
}
#about #programmer-svg-wrap:hover #exclamation_mark-svg {
  visibility: visible;
}
#about #programmer-svg {
  width: 100%;
  visibility: hidden;
}
#about #exclamation_mark-svg {
  position: absolute;
  width: 20%;
  left: 14%;
  bottom: 102%;
  visibility: hidden;
}

.techniques-display-area-technique:before,
.techniques-display-area-technique:after {
  font-family: monospace;
  font-size: 1.2em;
  font-style: italic;
  display: block;
  margin-left: 2em;
  margin-right: 2em;
  padding-top: .4em;
  padding-bottom: .4em;
  opacity: .3;
  /** transition **/
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.techniques-display-area-technique:hover:before,
.techniques-display-area-technique:hover:after {
  opacity: 1;
}

#techniques {
  position: relative;
  background-color: transparent;
}
#techniques .content-wrapper {
  height: 100%;
  width: 100%;
}
#techniques .techniques-details {
  display: none;
}
#techniques .techniques-name-wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  overflow: hidden;
}
#techniques .techniques-name-wrap .techniques-name {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#techniques .techniques-name-wrap .techniques-name:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}
#techniques .techniques-name-wrap .techniques-name:hover:before {
  opacity: .2;
}
#techniques .techniques-name-wrap .techniques-name:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
#techniques .techniques-block .techniques-video {
  height: 100%;
  width: 100%;
  position: absolute;
}
#techniques .techniques-block h1 {
  padding: 0;
  position: relative;
  display: inline-block;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}
#techniques .techniques-block h1:before, #techniques .techniques-block h1:after {
  position: absolute;
  display: inline-block;
  opacity: 0;
  word-break: keep-all;
  word-wrap: normal;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
#techniques .techniques-block > :hover h1:before, #techniques .techniques-block > :hover h1:after {
  opacity: 1;
}
#techniques #techniques-php h1:before, #techniques #techniques-php h1:after {
  color: #cc3c3c;
}
#techniques #techniques-php h1:before {
  content: '<?';
  top: 0;
  right: 100%;
}
#techniques #techniques-php h1:after {
  content: '    echo("hello, world");';
  top: 100%;
  left: 0;
}
#techniques #techniques-php > :hover h1 {
  color: #FF9393 !important;
}
#techniques .techniques-display-area-php:before {
  content: '<?php';
}
#techniques .techniques-display-area-php:after {
  content: '?>';
}
#techniques .techniques-display-area-php .techniques-php-baby-background {
  background-image: url(../img/baby.svg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#techniques .techniques-display-area-php .techniques-php-suit-background {
  background-image: url(../img/suit.svg);
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
#techniques .techniques-display-area-php .techniques-php-code-background {
  background-image: url(../img/code.svg);
  background-size: 70%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#techniques #techniques-html h1 {
  text-shadow: none;
}
#techniques #techniques-html h1:before, #techniques #techniques-html h1:after {
  color: orange;
}
#techniques #techniques-html h1:before {
  content: '<';
  top: 0;
  right: 100%;
}
#techniques #techniques-html h1:after {
  content: '>';
  top: 0;
  left: 100%;
}
#techniques #techniques-html > :hover h1 {
  color: #ffc65d !important;
}
#techniques .techniques-display-area-html:before {
  content: '<div class="lets-talk-html">';
}
#techniques .techniques-display-area-html:after {
  content: '</div>';
}
#techniques .techniques-display-area-html .techniques-html-switch-page {
  width: 100%;
}
#techniques #techniques-css h1:before, #techniques #techniques-css h1:after {
  color: #337ab7;
}
#techniques #techniques-css h1:before {
  content: '.';
  top: 0;
  right: 100%;
}
#techniques #techniques-css h1:after {
  content: '#isgood';
  top: 0;
  left: 100%;
}
#techniques #techniques-css > :hover h1 {
  color: #82bcec;
}
#techniques .techniques-display-area-css .techniques-css-wrench-background {
  background-image: url(../img/wrench.svg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#techniques .techniques-display-area-css .techniques-css-book-background {
  background-image: url(../img/book.svg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap {
  display: block;
  position: relative;
  width: 100%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap:after {
  display: block;
  padding-top: 100%;
  content: '';
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition .techniques-css-transition-img {
  position: absolute;
  width: 25%;
  height: 25%;
  background-image: url(../img/meme.svg);
  background-size: 200%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  transform: rotate(720deg);
  -webkit-animation: transition-img-animation 3s linear infinite;
  -moz-animation: transition-img-animation 3s linear infinite;
  -o-animation: transition-img-animation 3s linear infinite;
  animation: transition-img-animation 3s linear infinite;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition .techniques-css-transition-img.transition-img-1 {
  top: 65%;
  left: 65%;
  background-position: 0% 0%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition .techniques-css-transition-img.transition-img-2 {
  top: 10%;
  left: 10%;
  background-position: 0% 100%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition .techniques-css-transition-img.transition-img-3 {
  top: 10%;
  left: 65%;
  background-position: 100% 0%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition .techniques-css-transition-img.transition-img-4 {
  top: 65%;
  left: 10%;
  background-position: 100% 100%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition:hover .techniques-css-transition-img {
  -webkit-animation: transition-img-animation-hover .5s 1;
  -moz-animation: transition-img-animation-hover .5s 1;
  -o-animation: transition-img-animation-hover .5s 1;
  animation: transition-img-animation-hover .5s 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition:hover .techniques-css-transition-img.transition-img-1 {
  top: 25%;
  left: 25%;
  background-position: 0% 0%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition:hover .techniques-css-transition-img.transition-img-2 {
  top: 50%;
  left: 25%;
  background-position: 0% 100%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition:hover .techniques-css-transition-img.transition-img-3 {
  top: 25%;
  left: 50%;
  background-position: 100% 0%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition:hover .techniques-css-transition-img.transition-img-4 {
  top: 50%;
  left: 50%;
  background-position: 100% 100%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition:before, #techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition:after {
  position: absolute;
  font-size: 1.5rem;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition:before {
  content: 'point your mouse or';
  bottom: 50%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition:after {
  content: 'touch and hold here';
  top: 50%;
}
#techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition:hover:before, #techniques .techniques-display-area-css .techniques-css-transition-wrap .techniques-css-transition:hover:after {
  opacity: 0;
}
#techniques .techniques-display-area-css:before {
  content: '#css.is_awesome {';
}
#techniques .techniques-display-area-css:after {
  content: '}';
}
#techniques #techniques-js {
  overflow: hidden;
}
#techniques #techniques-js #techniques-js-bg {
  height: 100%;
  overflow: hidden;
  background-color: #222222;
}
#techniques #techniques-js #techniques-js-bg div {
  position: absolute;
  display: inline-block;
  background-color: #82bcec;
  -webkit-box-shadow: 0 0 10px #82bcec;
  -moz-box-shadow: 0 0 10px #82bcec;
  -o-box-shadow: 0 0 10px #82bcec;
  box-shadow: 0 0 10px #82bcec;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  /** animation **/
  -webkit-animation: techniques-js-animation linear infinite;
  -moz-animation: techniques-js-animation linear infinite;
  -o-animation: techniques-js-animation linear infinite;
  animation: techniques-js-animation linear infinite;
}
#techniques #techniques-js #techniques-js-bg div:before {
  position: relative;
  display: block;
  padding-top: 100%;
  content: '';
}
#techniques #techniques-js #techniques-js-bg :nth-child(1) {
  width: 20%;
  top: 30%;
  opacity: .4;
  -webkit-animation-duration: 22s;
  -moz-animation-duration: 22s;
  -o-animation-duration: 22s;
  animation-duration: 22s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -o-animation-delay: -1s;
  animation-delay: -1s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(2) {
  width: 18%;
  top: 80%;
  opacity: .5;
  -webkit-animation-duration: 20s;
  -moz-animation-duration: 20s;
  -o-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-delay: -8s;
  -moz-animation-delay: -8s;
  -o-animation-delay: -8s;
  animation-delay: -8s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(3) {
  width: 18%;
  top: -9%;
  opacity: .5;
  -webkit-animation-duration: 17s;
  -moz-animation-duration: 17s;
  -o-animation-duration: 17s;
  animation-duration: 17s;
  -webkit-animation-delay: -15s;
  -moz-animation-delay: -15s;
  -o-animation-delay: -15s;
  animation-delay: -15s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(4) {
  width: 16%;
  top: 45%;
  opacity: .5;
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  -o-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-delay: -22s;
  -moz-animation-delay: -22s;
  -o-animation-delay: -22s;
  animation-delay: -22s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(5) {
  width: 14%;
  top: 2%;
  opacity: .6;
  -webkit-animation-duration: 18s;
  -moz-animation-duration: 18s;
  -o-animation-duration: 18s;
  animation-duration: 18s;
  -webkit-animation-delay: -29s;
  -moz-animation-delay: -29s;
  -o-animation-delay: -29s;
  animation-delay: -29s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(6) {
  width: 14%;
  top: 95%;
  opacity: .7;
  -webkit-animation-duration: 13s;
  -moz-animation-duration: 13s;
  -o-animation-duration: 13s;
  animation-duration: 13s;
  -webkit-animation-delay: -36s;
  -moz-animation-delay: -36s;
  -o-animation-delay: -36s;
  animation-delay: -36s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(7) {
  width: 12%;
  top: 34%;
  opacity: .8;
  -webkit-animation-duration: 16s;
  -moz-animation-duration: 16s;
  -o-animation-duration: 16s;
  animation-duration: 16s;
  -webkit-animation-delay: -43s;
  -moz-animation-delay: -43s;
  -o-animation-delay: -43s;
  animation-delay: -43s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(8) {
  width: 12%;
  top: 8%;
  opacity: .4;
  -webkit-animation-duration: 14s;
  -moz-animation-duration: 14s;
  -o-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-delay: -50s;
  -moz-animation-delay: -50s;
  -o-animation-delay: -50s;
  animation-delay: -50s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(9) {
  width: 11%;
  top: 15%;
  opacity: .2;
  -webkit-animation-duration: 11s;
  -moz-animation-duration: 11s;
  -o-animation-duration: 11s;
  animation-duration: 11s;
  -webkit-animation-delay: -57s;
  -moz-animation-delay: -57s;
  -o-animation-delay: -57s;
  animation-delay: -57s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(10) {
  width: 11%;
  top: 77%;
  opacity: .7;
  -webkit-animation-duration: 18s;
  -moz-animation-duration: 18s;
  -o-animation-duration: 18s;
  animation-duration: 18s;
  -webkit-animation-delay: -64s;
  -moz-animation-delay: -64s;
  -o-animation-delay: -64s;
  animation-delay: -64s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(11) {
  width: 11%;
  top: 34%;
  opacity: .4;
  -webkit-animation-duration: 17s;
  -moz-animation-duration: 17s;
  -o-animation-duration: 17s;
  animation-duration: 17s;
  -webkit-animation-delay: -71s;
  -moz-animation-delay: -71s;
  -o-animation-delay: -71s;
  animation-delay: -71s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(12) {
  width: 13%;
  top: 11%;
  opacity: .5;
  -webkit-animation-duration: 14s;
  -moz-animation-duration: 14s;
  -o-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-delay: -78s;
  -moz-animation-delay: -78s;
  -o-animation-delay: -78s;
  animation-delay: -78s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(13) {
  width: 12%;
  top: 14%;
  opacity: .5;
  -webkit-animation-duration: 12s;
  -moz-animation-duration: 12s;
  -o-animation-duration: 12s;
  animation-duration: 12s;
  -webkit-animation-delay: -85s;
  -moz-animation-delay: -85s;
  -o-animation-delay: -85s;
  animation-delay: -85s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(14) {
  width: 11%;
  top: 55%;
  opacity: .5;
  -webkit-animation-duration: 17s;
  -moz-animation-duration: 17s;
  -o-animation-duration: 17s;
  animation-duration: 17s;
  -webkit-animation-delay: -92s;
  -moz-animation-delay: -92s;
  -o-animation-delay: -92s;
  animation-delay: -92s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(15) {
  width: 9%;
  top: -4%;
  opacity: .6;
  -webkit-animation-duration: 14s;
  -moz-animation-duration: 14s;
  -o-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-delay: -99s;
  -moz-animation-delay: -99s;
  -o-animation-delay: -99s;
  animation-delay: -99s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(16) {
  width: 8%;
  top: 34%;
  opacity: .7;
  -webkit-animation-duration: 18s;
  -moz-animation-duration: 18s;
  -o-animation-duration: 18s;
  animation-duration: 18s;
  -webkit-animation-delay: -106s;
  -moz-animation-delay: -106s;
  -o-animation-delay: -106s;
  animation-delay: -106s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(17) {
  width: 5%;
  top: 89%;
  opacity: .8;
  -webkit-animation-duration: 14s;
  -moz-animation-duration: 14s;
  -o-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-delay: -113s;
  -moz-animation-delay: -113s;
  -o-animation-delay: -113s;
  animation-delay: -113s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(18) {
  width: 3%;
  top: -1%;
  opacity: .4;
  -webkit-animation-duration: 13s;
  -moz-animation-duration: 13s;
  -o-animation-duration: 13s;
  animation-duration: 13s;
  -webkit-animation-delay: -120s;
  -moz-animation-delay: -120s;
  -o-animation-delay: -120s;
  animation-delay: -120s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(19) {
  width: 6%;
  top: 36%;
  opacity: .2;
  -webkit-animation-duration: 11s;
  -moz-animation-duration: 11s;
  -o-animation-duration: 11s;
  animation-duration: 11s;
  -webkit-animation-delay: -127s;
  -moz-animation-delay: -127s;
  -o-animation-delay: -127s;
  animation-delay: -127s;
}
#techniques #techniques-js #techniques-js-bg :nth-child(20) {
  width: 8%;
  top: 1%;
  opacity: .7;
  -webkit-animation-duration: 19s;
  -moz-animation-duration: 19s;
  -o-animation-duration: 19s;
  animation-duration: 19s;
  -webkit-animation-delay: -134s;
  -moz-animation-delay: -134s;
  -o-animation-delay: -134s;
  animation-delay: -134s;
}
#techniques #techniques-js h1:before, #techniques #techniques-js h1:after {
  color: #59bd5a;
}
#techniques #techniques-js h1:before {
  content: '$("#';
  top: 0;
  right: 100%;
}
#techniques #techniques-js h1:after {
  content: '").show();';
  top: 0;
  left: 100%;
}
#techniques #techniques-js > :hover h1 {
  color: #71d871;
}
#techniques .techniques-display-area-js:before {
  content: 'javaScript = (isFuture) => {';
}
#techniques .techniques-display-area-js:after {
  content: '}; // end javaScript()';
}
#techniques .techniques-display-area-js .techniques-js-code-background {
  background-image: url(../img/code.svg);
  background-size: 70%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#techniques .techniques-display-area-js .techniques-js-book-background {
  background-image: url(../img/book.svg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#techniques .techniques-display-area {
  position: relative;
  background-image: url(../img/pattern-03.png);
  margin-top: 0;
  overflow: hidden;
  /** animation **/
  -webkit-animation: circuit_board-animation 70s linear infinite;
  -moz-animation: circuit_board-animation 70s linear infinite;
  -o-animation: circuit_board-animation 70s linear infinite;
  animation: circuit_board-animation 70s linear infinite;
  /** transition **/
  -webkit-transition: max-height .5s;
  -moz-transition: max-height .5s;
  -o-transition: max-height .5s;
  transition: max-height .5s;
}

/** for mobile browser only **/
html.mobile-browser #techniques-php {
  background-image: url(../video/programming.gif);
  background-size: cover;
}
html.mobile-browser #techniques-php #techniques-php-video {
  visibility: hidden;
}

html.mobile-browser #techniques-html {
  background-image: url(../video/keyboard.gif);
  background-size: cover;
}
html.mobile-browser #techniques-html #techniques-html-video {
  visibility: hidden;
}

html.mobile-browser #techniques-php {
  background-image: url(../video/programming.gif);
  background-size: cover;
}

html.mobile-browser #techniques-html {
  background-image: url(../video/keyboard.gif);
  background-size: cover;
}

@keyframes circuit_board-animation {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
@keyframes techniques-js-animation {
  0% {
    left: 100%;
  }
  100% {
    left: -20%;
  }
}
@keyframes transition-img-animation {
  0% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes transition-img-animation-hover {
  0% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
#interested {
  z-index: 1;
  background-color: transparent;
}
#interested .topic-image {
  position: relative;
  display: inline-block;
  width: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  word-wrap: break-word;
  overflow: hidden;
}
#interested .topic-image:after {
  position: abstract;
  display: block;
  padding-top: 100%;
  content: '';
}

#contact {
  position: relative;
  background-color: transparent;
}
#contact #contact-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/contact-background-s.jpg);
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}
#contact #contact-background:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  opacity: .6;
}
#contact .content-wrapper {
  min-height: inherit;
}
#contact .content-wrapper #contact-middle-wrap {
  min-height: inherit;
}

@media (min-width: 768px) {
  #contact #contact-background {
    background-image: url(../img/contact-background-m.jpg);
  }
}
@media (min-width: 992px) {
  #contact #contact-background {
    background-image: url(../img/contact-background-l.jpg);
  }
}

/*# sourceMappingURL=style.css.map */
