// 
// @Created 2016-12-29
// @Author  winghimjns
// 

// ================================================================================
//    FONTS
// ================================================================================

.montserrat {
	font-family: Montserrat, Arial, Calibri;
}

.slabo {
	font-family: 'Raleway', 'Slabo 27px', 'Sans Serif', Arial, Calibri;
}

// ================================================================================
//    COLORS
// ================================================================================

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	@extend .montserrat;
	font-weight: 700; /** bold **/
	padding: .67em 0;
	margin: 0;
}
p {
	@extend .slabo;
}

big {
	font-size: 1.3em;
}

img {
	max-width: 100%;
}

.mt0 {
	margin-top: 0;
}
.mt1 {
	margin-top: 1rem;
}
.mb1 {
	margin-bottom: 1rem;
}
.pt0 {
	padding-top: 0;
}

ul.list-disc {
	list-style-type: disc;
	padding-left: 15px;
}

ol.list-decimal {
	list-style-type: decimal;
	padding-left: 15px;
}

.u {
	text-decoration: underline;
}

a.link-unstyled,
a.link-unstyled:link,
a.link-unstyled:hover {
	color: inherit;
	text-decoration: inherit;
	font-family: inherit;
}

.fill-height {
	height: 100%;
}

.preload {
	display: none !important;
}

.block-16-9-wrap {
	background-color: #000000; // absolutely black
	position: relative;
	display: block;
	width: 100%;
}

.block-16-9-wrap:after {
	display: block;
	padding-top: 56.25%; // 9 / 16 in percentage expression
	content: '';
}

.block-16-9 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.middle-wrap {
	display: table;
	width: 100%;
	height: 100%;

	.middle {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}

}
.cd-section {
	position: relative;
}

/** for the anchor .cd-scroll-down, leave an empty space for it **/
.cd-scroll-down-clear:after {
	content: '';
	display: block;
	height: 84px;
}

/** for bootstrap's grid system **/
.no-gutter {
	
	margin-left: 0;
	margin-right: 0;
	
	> [class^="col-"] {
		padding-left:0;
		padding-right:0;
	}
}

.no-overflow {
	overflow: hidden;
}


.pre-like {
	display: block;
	unicode-bidi: embed;
	font-family: monospace;
	white-space: pre;
}

.default-cursor {
	cursor: default;
}
.pointer-cursor {
	cursor: pointer;
}

// ================================================================================
//    FUNCTIONS
// ================================================================================
@mixin transition($value...) {
	-webkit-transition: $value;
	   -moz-transition: $value;
	     -o-transition: $value;
	        transition: $value;
}

@mixin transform($value) {
	-webkit-transform: $value;
	   -moz-transform: $value;
	     -o-transform: $value;
	        transform: $value;
}

// ================================================================================
//    BACKGROUND
// ================================================================================

#interactive-background-1 {

	position: fixed;
	top: -66%;
	left: -66%;
	width: 200%;
	height: 200%;
	
}

#interactive-background-2 {

	position: absolute;
	top: -66%;
	left: -66%;
	width: 200%;
	height: 200%;
	
}

#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#copyright-statement-fixed {
	position: fixed;
	font-size: 1rem;
	left: 0;
	bottom: -2rem;
	width: 100%;
	z-index: 8888;
	padding: .2rem 0;
	-webkit-transition: bottom 1s;
	   -moz-transition: bottom 1s;
	     -o-transition: bottom 1s;
	        transition: bottom 1s;
}

[active-section=home] #copyright-statement-fixed {
	bottom: 0;
}

[active-section=contact] #copyright-statement-fixed {
	display: none;
}

#copyright-statement-relative {
	font-size: 1rem;
	padding: .2rem 0;
}

// ================================================================================
//    SPECIAL FOR EXCLUDE MOBILE
// ================================================================================

@media (min-width: 768px) {
	.sm-text-right {
		text-align: right;
	}
}

@media (min-width: 992px) {
	.md-text-right {
		text-align: right;
	}
}


// ================================================================================
//    FOR BACKGROUND ANIMATION
// ================================================================================
@keyframes pattern-bg-animation {
	0% {
		background-position-x: 0%
	}
	100% {
		background-position-x: 100%;
	}
}

// ================================================================================
//    COOKIE STATEMENT POP UP
// ================================================================================

#cookie_statement {
	padding: 1rem;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	opacity: .7;
	z-index: 8;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
	
	&:hover {
		opacity: 1;
	}
}


// ================================================================================
//    BEFORE & AFTER ELEMENTS' CONTENT
// ================================================================================

[wg-text-before-content]:before { content: attr(wg-text-before-content); }
[wg-text-after-content]:after { content: attr(wg-text-after-content); }