// 
// @Created 2016-12-30
// @Author  winghimjns
// 

// ================================================================================
//    COLORS
// ================================================================================

// --------------------------------------------------------------------------------
//    COLOR SET 1
// --------------------------------------------------------------------------------




$color-sets: (
	"1": (
		$color-1,
		$color-2,
		$color-3,
		$color-4,
		$color-5
	)
);

@each $set-name, $colors in $color-sets {

	.color-set-#{$set-name} {
		
		@each $i, $color in $colors {
			
			/** font color **/
			.color-#{$i} { color: $color; }
			
			/** background color **/
			.bg-color-#{$i} { background-color: $color; }
			
		}
		
		
		
	}
}

