// 
// @Created 2016-12-30
// @Author  winghimjns
// 

// ================================================================================
//    COLORS
// ================================================================================

// --------------------------------------------------------------------------------
//    COLOR SET 1
// --------------------------------------------------------------------------------

@mixin make-color-set($color-set, $name) {
	
	/** color set: #{$name} **/
	.color-set-#{$name} {
		
		@each $i, $color in $color-set {
			
			.color-#{$i} { color: $color; }
			.color-b-#{$i}:before { color: $color; }
			.color-a-#{$i}:after { color: $color; }
			.bg-color-#{$i} { background-color: $color; }
			.bg-color-b-#{$i}:before { background-color: $color; }
			.bg-color-a-#{$i}:after { background-color: $color; }
			
		}
	}
}

@mixin make-default-color-set($color-set) {
	
	/** default color set **/
	@each $i, $color in $color-set {
		
		.color-#{$i} { color: $color; }
		.color-b-#{$i}:before { color: $color; }
		.color-a-#{$i}:after { color: $color; }
		.bg-color-#{$i} { background-color: $color; }
		.bg-color-b-#{$i}:before { background-color: $color; }
		.bg-color-a-#{$i}:after { background-color: $color; }
		
	}
}


$color-set-1: (
	"1": $color-1,
	"2": $color-2,
	"3": $color-3,
	"4": $color-4,
	"5": $color-5
);

@include make-default-color-set($color-set-1);

