// 
// @Created 2016-12-30
// @Author  winghimjns
// 

// ================================================================================
//    COLORS
// ================================================================================

// --------------------------------------------------------------------------------
//    COLOR SET 1
// --------------------------------------------------------------------------------

@mixin make-color-set($color-set, $name) {
	
	/** color set: #{$name} **/
	.color-set-#{$name}, [wg-color-set=color-set-#{$name}] {
		
		@each $i, $color in $color-set {
			
			.color-#{$i} { color: $color; }
			.color-b-#{$i}:before { color: $color; }
			.color-a-#{$i}:after { color: $color; }
			.color-h-#{$i}:hover { color: $color; }
			.border-color-#{$i} { border-color: $color; }
			.border-color-b-#{$i}:before { border-color: $color; }
			.border-color-a-#{$i}:after { border-color: $color; }
			.bg-color-#{$i} { background-color: $color; }
			.bg-color-b-#{$i}:before { background-color: $color; }
			.bg-color-a-#{$i}:after { background-color: $color; }
			.color-svg-#{$i} { fill: $color; stroke: $color; }
			
		}
	}
}

@mixin make-default-color-set($color-set) {
	
	/** default color set **/
	@each $i, $color in $color-set {
		
		.color-#{$i} { color: $color; }
		.color-b-#{$i}:before { color: $color; }
		.color-a-#{$i}:after { color: $color; }
		.color-h-#{$i}:hover { color: $color; }
		.border-color-#{$i} { border-color: $color; }
		.border-color-b-#{$i}:before { border-color: $color; }
		.border-color-a-#{$i}:after { border-color: $color; }
		.bg-color-#{$i} { background-color: $color; }
		.bg-color-b-#{$i}:before { background-color: $color; }
		.bg-color-a-#{$i}:after { background-color: $color; }
		.color-svg-#{$i} { fill: $color; stroke: $color; }
		
	}
}


$color-set-normal: (
	"1": $color-1, // #444444
	"2": $color-2, // #EEEEEE
	"3": $color-3, // #222222
	"4": $color-4, // #BBBBBB
	"5": $color-5  // #FFFFFF
);

// 2
$color-set-emo-wink: (
	"1": #444466,
	"2": #EEEE99,
	"3": #222233,
	"4": #BBBB99,
	"5": #DDDDFF
);

// 4
$color-set-emo-sunglasses: (
	"1": #BBBBBB,
	"2": #111111,
	"3": #DDDDDD,
	"4": #444444,
	"5": #000000
);

// 6
$color-set-emo-angry: (
	"1": #68B2E8,
	"2": #3C729B,
	"3": #CED9FF,
	"4": #F73639,
	"5": #E04156
);

// 7
$color-set-emo-cry: (
	"1": #425D60,
	"2": #4B696D,
	"3": #2B3D3F * .4,
	"4": #354C4F,
	"5": #5A7B7F
);

@include make-default-color-set($color-set-normal);
@include make-color-set($color-set-normal, "normal");
@include make-color-set($color-set-emo-wink, "emo-wink");
@include make-color-set($color-set-emo-sunglasses, "emo-sunglasses");
@include make-color-set($color-set-emo-angry, "emo-angry");
@include make-color-set($color-set-emo-cry, "emo-cry");

