// 
// @Created 2017-02-18
// @Author  winghimjns
// 

#hows-your-mood {
	
	position: fixed;
	left: .5rem;
	top: .5rem;
	height: 0;
	z-index: 1;
	
	
	& > div {
		
		position: relative;
		width: 3rem;
		height: 3rem;
		left: 0;
		margin-bottom: .33rem;
		border-width: 2px;
		border-style: solid;
		border-radius: 1.5rem;
		cursor: pointer;
		opacity: 1;
		
		@include transition(left .5s 2s, opacity .5s 2s, -webkit-transform .5s 2s, -moz-transform .5s 2s, -o-transform .5s 2s, transform .5s 2s);
		
		
		i {
			position: relative;
			top: 2px;
		}
		
		& + div {
			left: -100%;
			opacity: 0;
			z-index: -999;
			@include transform(rotate(-180deg));
		}
		
		&:before {
			
		}
		
		&:before, &:after {
			position: absolute;
			display: none;
		}
		
		&:hover:before, &:hover:after {
			display: block;
		}
		
		&:after {
			font-family: monospace;
			white-space: nowrap;
			padding: .25rem 1rem;
			font-size: 1.2rem;
			border-radius: 2px;
			left: 3.7rem;
			top: .3rem;
		}
		
		&:before {
			content: '';
			width: .5rem;
			height: .5rem;
			top: 1.1rem;
			z-index: 1;
			left: 3.4rem;
			@include transform(rotate(45deg));
		}
	}
	
	&:hover > div {
		left: 0;
		opacity: 1;
		z-index: 1;
		@include transform(rotate(0deg));
		@include transition(left .5s 0s, opacity .5s 0s, -webkit-transform .5s 0s, -moz-transform .5s 0s, -o-transform .5s 0s, transform .5s 0s);
	}
}