// 
// @Created 2016-12-29
// @Author  winghimjns
// 

#interested {
	
	z-index: 1;
	background-color: transparent;
	
	.topic-image {
		position: relative;
		display: inline-block;
		width: 100%;
		
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		
		word-wrap: break-word;
		overflow: hidden;
		
		&:after {
			position: abstract;
			display: block;
			padding-top: 100%; // so will be a square
			content: '';
		}
		
	}
	
	.interested-project-example {
		background-image: url(../img/pattern-07.png);
		overflow: hidden;
		
		/** animation **/
		-webkit-animation: pattern-bg-animation 70s linear infinite;
		   -moz-animation: pattern-bg-animation 70s linear infinite;
			 -o-animation: pattern-bg-animation 70s linear infinite;
				animation: pattern-bg-animation 70s linear infinite;
	}
	
	.interested-project-img {
		@include transition(transform .5s);
		@include transform(scale(1));
		&:hover {
			@include transform(scale(1.2));
		}
	}
	
	
	
	
}