// 
// @Created 2016-12-29
// @Author  Wing Him Liu
// 


.techniques-display-area-technique-ba {
	font-family: monospace;
	font-size: 1.2em;
	font-style: italic;
	display: block;
	color: rgba(66,66,66,1);
	margin-left: 2em;
	margin-right: 2em;
	padding-top: .4em;
	padding-bottom: .4em;
	
	/** transition **/
	-webkit-transition: color .5s;
	   -moz-transition: color .5s;
		 -o-transition: color .5s;
			transition: color .5s;
}


.techniques-display-area-technique-hba {
	color: rgba(122,122,122,1);
}

#techniques {
	
	position: relative;
	background-color: transparent;
	
	.content-wrapper {
		height: 100%;
		width: 100%;
	}
	
	.techniques-details {
		display: none;
	}
	
	.techniques-name-wrap {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: table;
		overflow: hidden;
		
		.techniques-name {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			width: 100%;
			height: 100%;
			color: #FFF;
			-webkit-transition: background-color .5s, transform .5s;
			   -moz-transition: background-color .5s, transform .5s;
			     -o-transition: background-color .5s, transform .5s;
			        transition: background-color .5s, transform .5s;
			
			background-color: rgba(155,155,155,0);
			-webkit-transform: scale(1);
			   -moz-transform: scale(1);
			     -o-transform: scale(1);
			        transform: scale(1);
			
			&:hover {
				background-color: rgba(155,155,155,.2);
				-webkit-transform: scale(1.4);
				   -moz-transform: scale(1.4);
				     -o-transform: scale(1.4);
				        transform: scale(1.4);
			}
		}
		
	}
	
	.techniques-block h1 {
		padding: 0;
	}
	
	// --------------------------------------------------------------------------------
	//    TECHNIQUE: PHP
	// --------------------------------------------------------------------------------
	
	#techniques-php {
		
		#techniques-php-video {
			height: 100%;
			width: 100%;
			position: absolute;
		}
		
		h1 {
			position: relative;
			display: inline-block;
			@include transition(color 1s);
			
			&:before, &:after {
				position: absolute;
				display: inline-block;
				color: rgba(255,255,255,0);
				word-break: keep-all;
				word-wrap: normal;
				@include transition(color 1s);
			}
			
			&:before {
				content: '<?';
				top: 0;
				right: 100%;
			}
			
			&:after {
				content: '    echo("hello, world");';
				top: 100%;
				left: 0;
			}
		}
		
		& > :hover h1 {
			
			color: #FF9393;
			
			&:before, &:after {
				color: rgba(204,60,60,1);
			}
			
		}
		
	}
	
	.techniques-display-area-php {
		
		&:before, &:after {
			@extend .techniques-display-area-technique-ba;
		}
		
		&:before { content: '<?php'; }
		&:after { content: '?>'; }
		
		.techniques-php-baby-background {
			background-image: url(../img/baby.svg);
			background-size: contain;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		
		.techniques-php-suit-background {
			background-image: url(../img/suit.svg);
			background-size: contain;
			background-position: 50% 0%;
			background-repeat: no-repeat;
		}
		
		.techniques-php-code-background {
			background-image: url(../img/code.svg);
			background-size: 70%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		
	}
	
	& .techniques-display-area-php:hover:before,
	& .techniques-display-area-php:hover:after {
		@extend .techniques-display-area-technique-hba;
	}
	
	
	// --------------------------------------------------------------------------------
	//    TECHNIQUE: HTML
	// --------------------------------------------------------------------------------
	
	#techniques-html {
		
		#techniques-html-video {
			height: 100%;
			width: 100%;
			position: absolute;
		}
		
		h1 {
			position: relative;
			display: inline-block;
			
			text-shadow: none;
			@include transition(color 1s);
			
			&:before, &:after {
				position: absolute;
				display: inline-block;
				color: rgba(255,255,255,0);
				word-break: keep-all;
				word-wrap: normal;
				font-size: 1.1em;
				@include transition(color 1s);
			}
			
			&:before {
				content: '<';
				top: 0;
				right: 100%;
			}
			
			&:after {
				content: '>';
				top: 0;
				left: 100%;
			}
			
		}
		
		& > :hover h1 {
			
			color: #ffc65d;
			
			&:before, &:after {
				color: rgba(255,165,0,1);
			}
			
		}
		
	}
	
	.techniques-display-area-html {
		
		&:before, &:after {
			@extend .techniques-display-area-technique-ba;
		}
		
		&:before { content: '<div class="lets-talk-html">'; }
		&:after { content: '</div>'; }
		
		.techniques-html-switch-page {
			width: 100%;
		}
		
	}
	
	& .techniques-display-area-html:hover:before,
	& .techniques-display-area-html:hover:after {
		@extend .techniques-display-area-technique-hba;
	}
	
	
	// --------------------------------------------------------------------------------
	//    TECHNIQUE: CSS
	// --------------------------------------------------------------------------------
	
	#techniques-css {
		
		background-color: #2a2a2a;
		
		h1 {
			position: relative;
			display: inline-block;
			@include transition(color 1s);
			
			&:before, &:after {
				position: absolute;
				display: inline-block;
				color: rgba(255,255,255,0);
				word-break: keep-all;
				word-wrap: normal;
				@include transition(color 1s);
			}
			
			&:before {
				content: '.';
				top: 0;
				right: 100%;
			}
			
			&:after {
				content: '#isgood';
				top: 0;
				left: 100%;
			}
		}
		
		& > :hover h1 {
			
			color: #82bcec;
			
			&:before, &:after {
				color: rgba(51,122,183,1);
			}
			
		}
	}
	
	.techniques-display-area-css {
		
		.techniques-css-wrench-background {
			background-image: url(../img/wrench.svg);
			background-size: contain;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		
		.techniques-css-book-background {
			background-image: url(../img/book.svg);
			background-size: contain;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		
		.techniques-css-transition-wrap {
			display: block;
			position: relative;
			width: 100%;
			
			&:after {
				display: block;
				padding-top: 100%;
				content: '';
			}
			
			.techniques-css-transition {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
		
				.techniques-css-transition-img {
					position: absolute;
					width: 25%;
					height: 25%;
					background-image: url(../img/meme.svg);
					background-size: 200%;
					background-position: 0% 0%;
					background-repeat: no-repeat;
					
					-webkit-transform: rotate(720deg);
					   -moz-transform: rotate(720deg);
					     -o-transform: rotate(720deg);
					        transform: rotate(720deg);
					
					-webkit-animation: transition-img-animation 3s linear infinite;
					   -moz-animation: transition-img-animation 3s linear infinite;
					     -o-animation: transition-img-animation 3s linear infinite;
					        animation: transition-img-animation 3s linear infinite;
					
					-webkit-transition: all .5s;
					   -moz-transition: all .5s;
					     -o-transition: all .5s;
					        transition: all .5s;
					
					&.transition-img-1 {
						top: 65%; left: 65%;
						background-position: 0% 0%;
					}
					
					&.transition-img-2 {
						top: 10%; left: 10%;
						background-position: 0% 100%;
					}
					
					&.transition-img-3 {
						top: 10%; left: 65%;
						background-position: 100% 0%;
					}
					
					&.transition-img-4 {
						top: 65%; left: 10%;
						background-position: 100% 100%;
					}
					
				}
				
				&:hover .techniques-css-transition-img {
					
					-webkit-animation: transition-img-animation-hover .5s 1;
					   -moz-animation: transition-img-animation-hover .5s 1;
					     -o-animation: transition-img-animation-hover .5s 1;
					        animation: transition-img-animation-hover .5s 1;
					
					-webkit-transform: rotate(0deg);
					   -moz-transform: rotate(0deg);
					     -o-transform: rotate(0deg);
					        transform: rotate(0deg);
					
					&.transition-img-1 {
						top: 25%; left: 25%;
						background-position: 0% 0%;
					}
					
					&.transition-img-2 {
						top: 50%; left: 25%;
						background-position: 0% 100%;
					}
					
					&.transition-img-3 {
						top: 25%; left: 50%;
						background-position: 100% 0%;
					}
					
					&.transition-img-4 {
						top: 50%; left: 50%;
						background-position: 100% 100%;
					}
					
				}
				
				&:before, &:after {
					position: absolute;
					font-size: 1.5rem;
					width: 100%;
					left: 0;
					text-align: center;
					z-index: 1;
					opacity: 1;
					
					-webkit-transition: opacity .5s;
					   -moz-transition: opacity .5s;
					     -o-transition: opacity .5s;
					        transition: opacity .5s;
				}
				
				&:before {
					content: 'point your mouse or';
					bottom: 50%;
				}
				
				&:after {
					content: 'touch and hold here';
					top: 50%;
				}
				
				&:hover:before, &:hover:after {
					opacity: 0;
				}
				
			}
			
		}
		
		&:before, &:after {
			@extend .techniques-display-area-technique-ba;
		}
		
		&:before { content: '#css.is_awesome {'; }
		&:after { content: '}'; }
		
	}
	
	& .techniques-display-area-css:hover:before,
	& .techniques-display-area-css:hover:after {
		@extend .techniques-display-area-technique-hba;
	}
	
	// ================================================================================
	//    TECHNIQUE: JavaScript
	// ================================================================================
	
	#techniques-js {
		
		overflow: hidden;
		
		#techniques-js-bg {
			
			height: 100%;
			overflow: hidden;
			background-color: $color-3;
			
			div {
				position: absolute;
				display: inline-block;
				background-color: #82bcec;
				-webkit-box-shadow: 0 0 10px #82bcec;
				   -moz-box-shadow: 0 0 10px #82bcec;
				     -o-box-shadow: 0 0 10px #82bcec;
				        box-shadow: 0 0 10px #82bcec;
				-webkit-border-radius: 50%;
				   -moz-border-radius: 50%;
				     -o-border-radius: 50%;
				        border-radius: 50%;
				
				/** animation **/
				-webkit-animation: techniques-js-animation linear infinite;
				   -moz-animation: techniques-js-animation linear infinite;
					 -o-animation: techniques-js-animation linear infinite;
						animation: techniques-js-animation linear infinite;
				
				&:before {
					position: relative;
					display: block;
					padding-top: 100%;
					content: '';
				}
			}
			:nth-child(1)  { width: 20%; top: 30%; opacity: .4; -webkit-animation-duration: 22s; -moz-animation-duration: 22s; -o-animation-duration: 22s; animation-duration: 22s; -webkit-animation-delay: -1s;   -moz-animation-delay: -1s;   -o-animation-delay: -1s;   animation-delay: -1s;   }
			:nth-child(2)  { width: 18%; top: 80%; opacity: .5; -webkit-animation-duration: 20s; -moz-animation-duration: 20s; -o-animation-duration: 20s; animation-duration: 20s; -webkit-animation-delay: -8s;   -moz-animation-delay: -8s;   -o-animation-delay: -8s;   animation-delay: -8s;   }
			:nth-child(3)  { width: 18%; top: -9%; opacity: .5; -webkit-animation-duration: 17s; -moz-animation-duration: 17s; -o-animation-duration: 17s; animation-duration: 17s; -webkit-animation-delay: -15s;  -moz-animation-delay: -15s;  -o-animation-delay: -15s;  animation-delay: -15s;  }
			:nth-child(4)  { width: 16%; top: 45%; opacity: .5; -webkit-animation-duration: 15s; -moz-animation-duration: 15s; -o-animation-duration: 15s; animation-duration: 15s; -webkit-animation-delay: -22s;  -moz-animation-delay: -22s;  -o-animation-delay: -22s;  animation-delay: -22s;  }
			:nth-child(5)  { width: 14%; top: 2%;  opacity: .6; -webkit-animation-duration: 18s; -moz-animation-duration: 18s; -o-animation-duration: 18s; animation-duration: 18s; -webkit-animation-delay: -29s;  -moz-animation-delay: -29s;  -o-animation-delay: -29s;  animation-delay: -29s;  }
			:nth-child(6)  { width: 14%; top: 95%; opacity: .7; -webkit-animation-duration: 13s; -moz-animation-duration: 13s; -o-animation-duration: 13s; animation-duration: 13s; -webkit-animation-delay: -36s;  -moz-animation-delay: -36s;  -o-animation-delay: -36s;  animation-delay: -36s;  }
			:nth-child(7)  { width: 12%; top: 34%; opacity: .8; -webkit-animation-duration: 16s; -moz-animation-duration: 16s; -o-animation-duration: 16s; animation-duration: 16s; -webkit-animation-delay: -43s;  -moz-animation-delay: -43s;  -o-animation-delay: -43s;  animation-delay: -43s;  }
			:nth-child(8)  { width: 12%; top: 8%;  opacity: .4; -webkit-animation-duration: 14s; -moz-animation-duration: 14s; -o-animation-duration: 14s; animation-duration: 14s; -webkit-animation-delay: -50s;  -moz-animation-delay: -50s;  -o-animation-delay: -50s;  animation-delay: -50s;  }
			:nth-child(9)  { width: 11%; top: 15%; opacity: .2; -webkit-animation-duration: 11s; -moz-animation-duration: 11s; -o-animation-duration: 11s; animation-duration: 11s; -webkit-animation-delay: -57s;  -moz-animation-delay: -57s;  -o-animation-delay: -57s;  animation-delay: -57s;  }
			:nth-child(10) { width: 11%; top: 77%; opacity: .7; -webkit-animation-duration: 18s; -moz-animation-duration: 18s; -o-animation-duration: 18s; animation-duration: 18s; -webkit-animation-delay: -64s;  -moz-animation-delay: -64s;  -o-animation-delay: -64s;  animation-delay: -64s;  }
			:nth-child(11) { width: 11%; top: 34%; opacity: .4; -webkit-animation-duration: 17s; -moz-animation-duration: 17s; -o-animation-duration: 17s; animation-duration: 17s; -webkit-animation-delay: -71s;  -moz-animation-delay: -71s;  -o-animation-delay: -71s;  animation-delay: -71s;  }
			:nth-child(12) { width: 13%; top: 11%; opacity: .5; -webkit-animation-duration: 14s; -moz-animation-duration: 14s; -o-animation-duration: 14s; animation-duration: 14s; -webkit-animation-delay: -78s;  -moz-animation-delay: -78s;  -o-animation-delay: -78s;  animation-delay: -78s;  }
			:nth-child(13) { width: 12%; top: 14%; opacity: .5; -webkit-animation-duration: 12s; -moz-animation-duration: 12s; -o-animation-duration: 12s; animation-duration: 12s; -webkit-animation-delay: -85s;  -moz-animation-delay: -85s;  -o-animation-delay: -85s;  animation-delay: -85s;  }
			:nth-child(14) { width: 11%; top: 55%; opacity: .5; -webkit-animation-duration: 17s; -moz-animation-duration: 17s; -o-animation-duration: 17s; animation-duration: 17s; -webkit-animation-delay: -92s;  -moz-animation-delay: -92s;  -o-animation-delay: -92s;  animation-delay: -92s;  }
			:nth-child(15) { width:  9%; top: -4%; opacity: .6; -webkit-animation-duration: 14s; -moz-animation-duration: 14s; -o-animation-duration: 14s; animation-duration: 14s; -webkit-animation-delay: -99s;  -moz-animation-delay: -99s;  -o-animation-delay: -99s;  animation-delay: -99s;  }
			:nth-child(16) { width:  8%; top: 34%; opacity: .7; -webkit-animation-duration: 18s; -moz-animation-duration: 18s; -o-animation-duration: 18s; animation-duration: 18s; -webkit-animation-delay: -106s; -moz-animation-delay: -106s; -o-animation-delay: -106s; animation-delay: -106s; }
			:nth-child(17) { width:  5%; top: 89%; opacity: .8; -webkit-animation-duration: 14s; -moz-animation-duration: 14s; -o-animation-duration: 14s; animation-duration: 14s; -webkit-animation-delay: -113s; -moz-animation-delay: -113s; -o-animation-delay: -113s; animation-delay: -113s; }
			:nth-child(18) { width:  3%; top: -1%; opacity: .4; -webkit-animation-duration: 13s; -moz-animation-duration: 13s; -o-animation-duration: 13s; animation-duration: 13s; -webkit-animation-delay: -120s; -moz-animation-delay: -120s; -o-animation-delay: -120s; animation-delay: -120s; }
			:nth-child(19) { width:  6%; top: 36%; opacity: .2; -webkit-animation-duration: 11s; -moz-animation-duration: 11s; -o-animation-duration: 11s; animation-duration: 11s; -webkit-animation-delay: -127s; -moz-animation-delay: -127s; -o-animation-delay: -127s; animation-delay: -127s; }
			:nth-child(20) { width:  8%; top: 1%;  opacity: .7; -webkit-animation-duration: 19s; -moz-animation-duration: 19s; -o-animation-duration: 19s; animation-duration: 19s; -webkit-animation-delay: -134s; -moz-animation-delay: -134s; -o-animation-delay: -134s; animation-delay: -134s; }
		}
		
		h1 {
			
			position: relative;
			display: inline-block;
			@include transition(color 1s);
			
			&:before, &:after {
				position: absolute;
				display: inline-block;
				color: rgba(255,255,255,0);
				word-break: keep-all;
				word-wrap: normal;
				@include transition(color 1s);
			}
			
			&:before {
				content: '$("#';
				top: 0;
				right: 100%;
			}
			
			&:after {
				content: '").show();';
				top: 0;
				left: 100%;
			}
		}
		
		& > :hover h1 {
			
			color: #71d871;
			
			&:before, &:after {
				color: rgba(89, 189, 90,1);
			}
			
		}
	}
	
	
	.techniques-display-area-js {
		
		&:before, &:after {
			@extend .techniques-display-area-technique-ba;
		}
		
		&:before { content: 'javaScript = (isFuture) => {'; }
		&:after { content: '}; // end javaScript()'; }
		
		.techniques-js-code-background {
			background-image: url(../img/code.svg);
			background-size: 70%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		
		.techniques-js-book-background {
			background-image: url(../img/book.svg);
			background-size: contain;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		
	}
	
	& .techniques-display-area-js:hover:before,
	& .techniques-display-area-js:hover:after {
		@extend .techniques-display-area-technique-hba;
	}
	
	
	// ================================================================================
	//    TECHNIQUES DISPLAY AREA
	// ================================================================================
	
	.techniques-display-area {
		
		position: relative;
		background-color: rgba(44,44,44,1);
		background-image: url(../img/pattern-03.png);
		color: $color-2;
		margin-top: 0;
		overflow: hidden;
		
		
		/** animation **/
		-webkit-animation: circuit_board-animation 70s linear infinite;
		   -moz-animation: circuit_board-animation 70s linear infinite;
			 -o-animation: circuit_board-animation 70s linear infinite;
				animation: circuit_board-animation 70s linear infinite;
		
		/** transition **/
		-webkit-transition: max-height .5s;
		   -moz-transition: max-height .5s;
			 -o-transition: max-height .5s;
				transition: max-height .5s;
		
		&.techniques-display-area-xl {
			
		}
		
		&#techniques-display-area-xl {
			
		}
		
	}
	
}

@keyframes circuit_board-animation {
	0% {
		background-position-x: 0%
	}
	100% {
		background-position-x: 100%;
	}
}

@keyframes techniques-js-animation {
	0% {
		left: 100%;
	}
	100% {
		left: -20%;
	}
}


@keyframes transition-img-animation {
	0% {
		-webkit-transform: rotate(720deg);
		   -moz-transform: rotate(720deg);
			 -o-transform: rotate(720deg);
				transform: rotate(720deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
		   -moz-transform: rotate(1080deg);
			 -o-transform: rotate(1080deg);
				transform: rotate(1080deg);
	}
}

@keyframes transition-img-animation-hover {
	0% {
		-webkit-transform: rotate(720deg);
		   -moz-transform: rotate(720deg);
			 -o-transform: rotate(720deg);
				transform: rotate(720deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}
}


