// 
// @Created 2016-12-29
// @Author  winghimjns
// 


// colors

$color-1: #444444;
$color-2: #EEEEEE;
$color-3: #222222;
$color-4: #BBBBBB;
$color-5: #FFFFFF;

$title-font: Montserrat, 'Sans Serif', Calibri, Arial;
$text-font: 'Slabo 27px', 'Sans Serif', Calibri, Arial;