
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-emo-saint:before { content: '\e80e'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-phone:before { content: '\e814'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-bitbucket:before { content: '\f171'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */